<!DOCTYPE html>
<html>
  <head>
    <title>We Out ✈️ </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" property="og:description" content="A lifestyle app that displays events around the world and serves as a social media platform that connects users who are attending the same events.">
<meta name="image" property="og:image" content="https://live.staticflickr.com/65535/49303099321_8ab1c0a2d5_k.jpg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
